<link rel="stylesheet" href="/css/footer.css">
<script src="https://kit.fontawesome.com/9f129c00e7.js" crossorigin="anonymous"></script>

<div class="footer">

    <div class="left-section">

        <div>
            <h3> GET IN TOUCH</h3>
        </div>
        <div class="feed-back">
            <form>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="email">
                <textarea placeholder="Message"></textarea>
                <div id="submit">
                <button type="submit" value="submit"> Send Message </button>
                </div>
            </form>
        </div>

    </div>

    <div class="right-section">

        <div>
            <h3>Reach Me Out</h3>
        </div>
        <div id="reach-me">

            <ul>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:ezhiloli07@.com">ezhiloli07@gmail.com</a>
                </li>
                <li>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="#"> self__designer</a>
                </li>
                <li>
                    <i class="fa-brands fa-linkedin"></i>
                    <a href="#"> Ezhiloli</a>
                </li>
                <li>
                    <i class="fa-brands fa-twitter"></i>
                    <a href="#"> Ezhiloli</a>
                </li>
            </ul>

        </div>

    </div>

</div>