<link rel="stylesheet" href="/css/header.css">
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

<header>
    <div style="display:inline-block ;">
        <span class="c-logo">
            <a href="/">
            <img src="/images/logo.png" class="animate__flash">
            </a>
        </span>
    </div>
    <% if (locals.user) {%> 
    <div id="welcome-user">
           <h2 class="h-sections"> Hello <%= locals.user.name %> </h2>
    </div>

    <div>
        <h4 class="h-sections">
         <a href="/users/sign-out"> Sign out </h4> </a>
     </div>

     <div>
        <h4 class="h-sections">  <a href="/users/profile"><%= user.name %> </h4>
        </a>
    </div>


     <% }else { %>


    <div>
       <h4 class="h-sections">
        <a href="/users/sign-in"> Sign in </h4> </a>
    </div>
    
    <% } %>
    
</header>