<link rel="stylesheet" href="/css/header.css">

<header>
    <div style="display:inline-block ;">
        <span class="c-logo">
            <a href="/">
            <img src="/images/logo.png">
            </a>
        </span>
    </div>
    <div id="welcome-user">
           <h2 class="h-sections"> Hello User </h2>
    </div>

    <div>
       <h4 class="h-sections">
        <a href="/users/sign-in"> Sign in </h4> </a>
    </div>
    <div>
        <h4 class="h-sections">  <a href="/users/profile">Your-Profile </h4>
        </a>
    </div>
    
</header>