<link rel="stylesheet" href="/css/sign-up.css">

<div class="sign-up">

        <div id="c-signup">
                <h2> Codial | Sign UP </h2>
        </div>
        <div>
            <form action="/users/create" method="POST">
                <div id="form-input">
                <input type="text" placeholder="Put Your Good Name here..." name="name">
                <input type="email" placeholder="Put Your Email here ..." name="email">
                <input type="password" placeholder="Password Strictly Confidential" name="password">
                <input type="password" placeholder="Again Password..." name="confirm_password">
                </div>
                <div class="button-signup">
                <input type="submit" value="Signup">
                <p> Already Have an Account <a href="/users/sign-in"> click here</a></p>
                </div>

            </form>
        </div>
    

</div>