.sign-up{
    width: 50%;
    height: auto;
    background-color: lightskyblue;
    margin: auto;
}
#c-signup{
    text-align: center;
    font-family: sans-serif;
}
.sign-up #form-input input{
    display: block;
    margin: auto;
    margin-bottom: 5%;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-bottom: 2px solid white;
    width: 60%;
}
input:focus{
    outline: none;
}
.button-signup{
    text-align: center;
    padding-bottom: 5%;
}
.button-signup input{
    width: 35%;
    height: 8%;
    font-size: 1.1rem;
    background-color: greenyellow;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}