#feed-post {
  margin: auto;
  text-align: center;
  width: 40%;
  margin-bottom: 3%;
}

#feed-post h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
  margin-top: 3%;
  margin-bottom: 0px;
  text-align: center;
}

#feed-post #new-post-form {
  margin: auto;
  width: 100%;
}

#feed-post #new-post-form #post-section {
  border: 2px solid black;
  font-size: 1.6rem;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: lightgray;
  width: 100%;
}

#feed-post #new-post-form #my-post {
  text-align: center;
  width: 15%;
  padding: 0.8%;
  font-family: 'Bebas Neue', cursive;
  background-color: red;
  border: none;
  color: white;
  font-size: 1.3rem;
  display: block;
  margin: auto;
  margin-top: 5%;
}

.home-page .app-heading h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
}

.user-post-container {
  background-color: black;
  width: 40%;
  height: 80%;
  color: white;
  overflow: scroll;
  margin-top: 3%;
  margin: auto;
  border-radius: 1rem;
}

.user-post-container h3 {
  margin-left: 5%;
  text-align: center;
}

.user-post-container ul {
  margin-left: 0px;
  padding-left: 0px;
}

.user-post-container ul li {
  list-style: none;
  margin-bottom: 2%;
  padding: 2%;
  border-radius: 1rem;
  margin-left: 0px;
  margin-left: 3%;
}

.user-post-container ul li small {
  display: block;
}

.user-post-container ul li small a {
  text-decoration: none;
}

.user-post-container ul li:hover {
  background-color: #15c4be;
}

.user-post-container h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2rem;
}

.user-post-container::-webkit-scrollbar {
  display: none;
}

.post-comments form {
  margin-top: 2%;
}

.post-comments form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
}

.post-comments form input[type="submit"] {
  background-color: red;
  border: none;
  margin-left: 2%;
}

.post-comments .list-of-comments p {
  display: inline-block;
  margin: 0px;
}
